
<div class="d-flex flex-column gap-2" id="<%= dom_id(comment) %>">

    <span class="text-secondary fs-5 fw-medium"> <%= time_tag comment.updated_at %> </span>

     <span class="fw-medium"><%= comment.content %></span>

    <hr/>
</div>
