<% content_for :title, "New post" %>

<div class="container my-5">
    <div class="d-flex flex-column align-items-start gap-2">

        <%= render '/layouts/back-link' %>

        <h1>New post</h1>

    </div>


    <%= render "form", post: @post %>

    <br>


</div>