<nav class="navbar bg-body-tertiary">

    <div class="container d-flex align-items-center justify-content-between">

        <%= link_to "Rails Blog", root_path, class: "navbar-brand text-primary fw-bold fs-2" %>

        <div>

            <% if current_user %>
      
                <%= link_to "Logout", destroy_user_session_path, class: " btn btn-danger text-white" %>
         
            <% else %>

            <%= link_to "Sign in", new_user_session_path, class: "btn btn-dark"  %>

            <% end %>

        </div>

    </div>

</nav>